body {
  margin: inherit;
  padding: inherit;
  background: white;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-flow: column nowrap;
  height: auto;
}

nav {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  height: 3rem;
  background: black;
  color: white;
  font-size: 2.0rem;
  margin-bottom: auto;
}

a.brand {
  padding: 0.5rem;
}

.container {
  width: -webkit-fill-available;
  max-width: inherit;
  margin: 0 auto;
}

.items {
  overflow-x: auto;
  display: flex;
  flex-flow: column nowrap;
  background: white;
}

a.item {
  display: flex;
  align-items: center;
  text-decoration: none; 
  color: black;
  padding: 0.8rem 1rem;
  transition: .5s hover linear;	
}

a.item i {
  margin-right: 0.5rem;
}

a.item:hover {
  background: aliceblue;
}

.readme {
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: 0.875rem;
}
